version: '3'

services:
    db:
        image: postgres

        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres

        ports:
            - "5432:5432"
        
        volumes:
            - "dbdata:/database"

    web:
        build: .
        ports:
            - "8000:8000"

        command: bash -c "
            python3 manage.py makemigrations
            && python3 manage.py migrate
            && python3 manage.py runserver 0.0.0.0:8000"
            
        volumes:
            - .:/code

        depends_on:
            - db

volumes:
    dbdata:
