<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>GOD</title>
</head>

<body>
    <h1>Great - Awesome!!!</h1>

    <a href="{% url 'add-book' %}">add-book</a> <br>

    </a> <br> {% for book in books %} {{book.title}} <br> {{book.author}} <br>
    <a href="{% url 'update-book' book.pk %}">Update Book</a> br <a href="{% url 'delete-book' book.pk %}">Delete Book</a> <br> {% endfor %}
</body>

</html>